---
import { Aside, Code, Card } from '@astrojs/starlight/components';
import { getEntry } from 'astro:content';
const { name } = Astro.props;

const command = await getEntry('commands', name);

const data = command?.data;

const usage = data?.usage;
---

<style>
  .anchor-link:link { text-decoration: none; }
  .anchor-link:visited { text-decoration: none; }
  .anchor-link:hover { text-decoration: none; }
  .anchor-link:active { text-decoration: none; }
  /* Also align it to the right of the container */
  .anchor-link {
    float: right;
  }
</style>

{
  data?.experiment ? (
    <Aside type="tip" title={data?.experiment?.name}>
      The <code dir="auto">{name}</code> command is experimental, usage requires the <a href={"/docs/reference/experiments#"+data?.experiment?.control}><code dir="auto">--experiment {data?.experiment?.control}</code></a> flag.
    </Aside>
  ) : null
}

{
  usage?.split('\n').map((line) => (
    <p>{line}</p>
  ))
}

<slot />

{
  data?.examples ? (
  <h2>Examples</h2>
  <div>
    {data?.examples.map((example) => (
      example && (
        <p>{example?.description}</p>
        <Code code={example?.code} lang="bash" />
      )
    ))}
  </div>
  ) : null
}

{
  data?.flags ? (
  <h2 id="flags">Flags</h2>
  <div>
  {data?.flags.map((flag) => (
    flag &&
    <section id={flag?.name} >
      <Card title={"--" + flag?.name} icon="custom:terragrunt">
        <p id={flag?.name}>{flag?.description}</p>
        <p>Environment Variables:</p>
        <ul>
          {flag?.env.map((env) => (
            <li><code dir="auto">{env}</code></li>
          ))}
        </ul>
        <a class="anchor-link" href={"#" + flag?.name}><span>⚓️</span></a>
      </Card>
    </section>
    ))}
</div>
  ) : null
}

{
  data?.subcommands ? (
  <h2 id="subcommands">Subcommands</h2>
  <div>
    {data?.subcommands.map((subcommand) => (
      subcommand && (
        <section id={subcommand?.name}>
          <Card title={subcommand?.name} icon="custom:opentofu">
            <p>{subcommand?.description}</p>
          </Card>
        </section>
      )
    ))}
  </div>
  ) : null
}
